/* Page */
body {
  background-color: #121212;
  margin: 0px;
}
a {
  color: #EEEEEE;
  font-family: Gill Sans, sans-serif;
  font-size: 1vw;
  text-decoration: none;
}
h1 {
  font-size: 1.5vw;
  font-family: Gill Sans, sans-serif;
  text-transform: uppercase;
  color: #bbbbbb;
}
p {
  color: #eeeeee;
  font-family: Gill Sans, sans-serif;
  font-size: .8vw;
  margin: 0px;
}
span {
  color: #eeeeee;
  font-family: Gill Sans, sans-serif;
  font-size: 1vw;
}

#navbar {
  position: fixed;
  padding: 10px 0px;
  width: 100%;
  text-align: center;
  z-index: 3;
  background-color: rgba(0,0,0,0.65);
}
#navbar a {
  padding: 0px 1vw;
  transition: color .5s;
}
a.nav:hover {
  color: #4d81f8;
}
#logo {
  display: block;
  margin: auto;
  padding: 50px 0px;
  width: 100%;
  max-width: 921px;
}
#crest {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 256px;
  z-index: 0;
}

.header {
  position: static;
  background-image: url(../images/Header.png);
  background-position: top;
  height: 350px;
  width: 100%;
  z-index: -1;
}

#container {
  width: 90%;
  margin: auto;
  background: #1C1C1C;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 15px 15px;
  transform: translate(0px,-50px);
  border-radius: 3px;
}
.maincontainer {
  width: 75%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px 15px;
}
.sidecontainer {
  width: 20%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px 15px;
}
.mainrow {
  width: 100%;
}
.sidebar {
  width: 100%;
  border-radius: 3px;
}
.content {
  padding: 20px;
}
.officer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex start;
  gap: 50px 50px;
}
.texthead {
  width: 100%;
  display: block;
  margin: auto;
  text-align: center;
}
.portrait {
  width: 100%;
  max-width: 512px;
  border-radius: 3px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
