body {
  background-color: #1c1c1c;
}
p {
  color: #eeeeee;
  font-family: optima, sans-serif;
  line-height: 1.5;
}
h3{
  color: #eeeeee;
  font-family: optima, sans-serif;
  padding: 0px;
  line-height: -1; 
  line-indent: 100px;
  z-index: 5;
}

* {
  box-sizing: border-box;
}

#header {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #101010;
  font-weight: bold;
  width: 100%;
  margin: 0px 0px 0px 0px;
}
#container {
  position: fixed;
  top: 100px;
  left: 200px;
  right: 200px;
  padding: 5px;
  width: auto;
}

.drag {
  position: absolute;
  left: 50%;
  top: 50%;
}
.raidbox {
  border: 2px solid #444444;
  border-radius: 5px;
  padding: 10px;
  content: "";
  clear: both;
  display: table;
  margin: 0px 10px 30px 10px;
  width: 100%;
}
.innerbox {
  float: left;
  width: 25%;
  padding-left: 20px;
  padding-right: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.marker {
  z-index: 7;
}
.role {
  z-index: 5;
}
.mob {
  z-index: 4;
}
.waymark {
  z-index: 3;
}
.aoe {
  z-index: 1;
}
