/* Page */
body {
  background-color: #121212;
}
p {
  color: #eeeeee;
  font-family: optima, sans-serif;
  font-size: .6vw;
  line-height: 1.5;
}

#navbar {
  background-color: rgba(0,0,0,0.3);
}

.header {
  background-image: url(../images/Header.png);
  background-position: center top;
  height: 400px;
  width: 100%;
}
