body {
  background-color: #121212
}

form {
  width: 100%;
  max-width: calc(100% - 60px);
  max-height: calc(100% - 60px);
}

.form-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

span {
  margin-bottom: 10px;
  color: #BBB;
  font-family: Gill Sans, sans-serif;
  font-size: max(1.2vw, 14px);
  margin: 0px;
  line-height: 1.7;
}

input, textarea {
  border: 5px double #222;
  color: #BBB;
  font-family: Gill Sans, sans-serif;
  font-size: max(1.2vw, 14px);
  line-height: 1.7;
  border-radius: 5px;
  padding: 5px;
  background: #1C1C1C;
}

input[type=radio] {
  margin: 10px 0px 20px 0px;
}

.inline {
  display: inline;
}

.subtext {
  color: #555;
  padding-right: 100px;
  padding-left: 14px;
}

.inline label {
  padding: 0px 20px;
  color: #ccc
}

button {
  background-color: #3d97ff;
  border: 0px;
  border-radius: 5px;
  color: #DDD;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: max(1.2vw, 14px);
  transition: color .5s, background-color .5s;
}

button:hover {
  background-color: rgba(131,191,255,1);
  color: #fff;
}
