body {
  background-color: #121212
}

form {
  padding: 60px;
  width: 80%;
  max-width: calc(100% - 60px);
  max-height: calc(100% - 60px);
}

.form-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

span {
  margin-bottom: 10px;
  color: #BBB;
  font-family: Gill Sans, sans-serif;
  font-size: max(1.2vw, 14px);
  margin: 0px;
  line-height: 1.7;
}

input, textarea {
  border: 5px double #222;
  color: #BBB;
  font-family: Gill Sans, sans-serif;
  font-size: max(1.2vw, 14px);
  line-height: 1.7;
  border-radius: 5px;
  padding: 5px;
  background: #1C1C1C;
}

input[type=radio] {
  margin: 20px 0px;
}

.inline {
  display: inline;
}

.inline label {
  padding: 0px 20px;
  color: #ccc
}
